# Documentación local
HELP.md

# Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Logs
*.log
logs/
spring.log

# Sistema Operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos sensibles o de entorno
.env
application-dev.properties
application-test.properties
application-local.properties

# Git conflict files
*.orig

